.chatbox {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.chatbox__header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.chatbox__info {
  margin-left: 1rem;
  flex: 1;
}

.chatbox__info > h1 {
  font-size: 1.7rem;
}

.chatbox__info > p {
  color: gray;
}

.chatbox__tools {
  justify-self: flex-end;
}

.chat__body {
  flex: 1;
  background-image: url('https://res.cloudinary.com/practicaldev/image/fetch/s--WAKqnINn--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/tw0nawnvo0zpgm5nx4fp.png');
  background-repeat: repeat;
  background-position: center;
  padding: 3rem;
  overflow: scroll;
}

.chat__message {
  position: relative;
  font-size: 1rem;
  padding: 0.625rem;
  width: fit-content;
  border-radius: 0.625rem;
  background-color: #fff;
  margin-bottom: 1.875rem;
}

.chat__timestamp {
  margin-left: 0.625rem;
  font-size: xx-small;
}

.chat__name {
  position: absolute;
  top: -15px;
  font-weight: 700;
  font-size: x-small;
}

.chat__receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat__footer {
  display: flex;
}

.chat__footer > form {
  flex: 1;
  display: flex;
}
.chat__footer > form > input {
  outline-width: 0;
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
}
.chat__footer > form > button {
  display: none;
}
